@import "_assets/bootstrap/stylesheets/bootstrap.less";
@import "_assets/bootstrap/stylesheets/responsive.less";
@import "_assets/stylesheets/mixins.less";

.leadership {
  table {
    tr {
      td:first-child {
        width: 350px;
      }
    }
  }
}

.footer {
  border-top: 1px solid #edeceb;
  background-color: #f5f5f5;
  color: #777;
}

  .sticky-footer(20px, 20px, 20px, 50px)

;

.affix {
  top: 50px;
}

.groups {
  margin-top: 10px;

  .group {
    margin-bottom: 20px;

    .name {
      margin-bottom: 0;
    }

    .leader {
      .heading {
        .muted;
      }
    }

    .info {
      margin-top: 10px;
    }
  }
}

.sponsors {
  .sponsor-type {
    margin-bottom: 0;
  }
}

.scholarship {
  .mandate {
    font-style: italic;
    margin-left: 20px;
  }

  .recipients {
    margin-top: 20px;
  }
}

.branding {
  .logos {
    margin-top: 30px;
  }
}

.contact-us {
  .aa-info {
    margin-top: 20px;
  }
  form.contact-form {
    margin-top: 35px;
  }
}

.articles {
  .article {
    padding-bottom: 10px;
    border-bottom: 5px solid @red;
    margin-bottom: 10px;
    .title {
      margin-bottom: 0;
    }

    .date {
      .muted;
      margin-bottom: 10px;
    }

    .excerpt {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .more {
      font-weight: bold;
    }
  }
}
